[{exometer, [{report, [
                       {reporters,
                        [{exometer_report_graphite, [{prefix, "worker_pools"},
                                                     {host, "192.168.99.100"},
                                                     {api_key, ""}]}]},
                       {subscribers,
                        [{exometer_report_graphite, [client, rate], [value], 5000, true},
                         {exometer_report_graphite, [client, pool_size], [value], 5000, true},
                         {exometer_report_graphite, [client, calls], [one, count], 5000, true},
                         {exometer_report_graphite, [client, failed_calls], [one, count], 5000, true},
                         {exometer_report_graphite, [client, successful_calls], [one, count], 5000, true},
                         {exometer_report_graphite, [client, time], [mean, median, 95, 99, 999], 5000, true},
                         {exometer_report_graphite, [service, pool_size], [value], 5000, true},
                         {exometer_report_graphite, [service, mean_service_time], [value], 5000, true},
                         {exometer_report_graphite, [service, served], [one, count], 5000, true},
                         {exometer_report_graphite, [service, time], [mean, median, 95, 99, 999], 5000, true},
                         {exometer_report_graphite, [service, queue_len], [mean, median, 95, 99, 999], 5000, true}
                        ]
                       }
                      ]
             }
            ]
 }
].

%% vim: ft=erlang
